.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin: 16px 64px 0 64px;

  > div:first-child {
    > h2 {
      margin: 0 0 16px 0;
      text-align: center;
    }

    > p {
      max-width: 200px;
      margin: 0 0 16px 0;
      text-align: center;
    }
  }
}

.sign-up__input {
  position: relative;

  > label {
    position: absolute;
    left: 16px;
    background: var(--foreground-light-200);
    color: #333333;
    transform: translateY(-50%);
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 14px;
  }

  > input {
    font-size: 16px;
    padding: 24px 16px 16px 16px;
    border-radius: 4px;
    border: 1px solid var(--foreground-light-200);
    background: transparent;
  }
}

.sign-up__submit {
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--foreground-light-200);
  color: #333;
  font-size: 16px;
  margin: 16px auto 0 auto;
  display: block;
  text-decoration: none;
  width: fit-content;
  border: 0;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  &:hover {
    background: #dddddd;
  }
}
