<style>
  .course-content {
    display: grid;
    grid-template-columns: 352px 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
    gap: 32px;
    width: max-content;
    max-width: 1024px;
  }
</style>

<article class="course-content">
  <cursemy-course
    slug="{{COURSE_SLUG}}"
    highlight="{{COURSE_HIGHLIGHT}}"
    stars="{{COURSE_STARS}}"
    discounted-price="{{COURSE_PRICE}}"
    vacancies="{{COURSE_VACANCIES}}"
  >
    <span slot="title">{{COURSE_TITLE}}</span>
    <span slot="author">{{COURSE_AUTHOR}}</span>
    <span slot="price-discounted">{{COURSE_FULL_PRICE}}</span>
    <span slot="price-full">{{COURSE_PRICE_WITH_DISCOUNT}}</span>
    <span slot="rankings">{{COURSE_RATINGS_COUNT}}</span>
    <span slot="start-at">{{COURSE_START_AT}}</span>
    <span slot="duration">{{COURSE_DURATION}}</span>
    <span slot="vacancies">{{COURSE_VACANCIES}}</span>
    <span slot="level">{{COURSE_LEVEL}}</span>
  </cursemy-course>

  <div class="course-content__main">
    <h1 class="course-content__title">{{COURSE_TITLE}}</h1>

    <div class="course-content__description">{{COURSE_DESCRIPTION}}</div>
  </div>
</article>
