<template id="cursemy-course">
  <style>
    :host {
      display: block;
      justify-self: stretch;
      align-self: stretch;
      max-width: 100vw;
      min-width: 100%;
      width: 100%;
    }

    .cursemy-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 100%;
      width: 100%;
      height: 100%;
      background: var(--background-surface-dark);
      border-radius: 4px;
      position: relative;
      border: 0;
      anchor-name: --cursemy-card;
      padding-top: 32px;

      &.--highlight {
        &::before {
          content: "mais vendido";
          display: block;
          padding: 4px 8px;
          color: #333333;
          background: #c4c4c4;
          font-size: 12px;
          font-weight: 500;
          text-transform: uppercase;
          border-radius: 4px;
          position: absolute;
          width: max-content;
          z-index: 3;
          top: anchor(--cursemy-card-image top);
          right: unset;
          transform: translateY(-50%);
        }
      }

      &.--loading::after {
        background: var(--background-surface-dark-light);
        filter: blur(2px);
      }
    }

    .cursemy-card__content-box {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
      padding: 16px;
      margin-top: 32px;
      height: auto;

      > div:first-child > * {
        margin: 0;
      }
    }

    .cursemy-card__image-box > img {
      border-radius: 4px;
      width: 275px;
      border: 1px solid #c4c4c4;
      anchor-name: --cursemy-card-image;
    }

    .cursemy-card__button {
      display: block;
      width: 100%;
      margin-top: 16px;
      background-color: white;
      color: #333333;
      font-weight: 500;
      text-align: center;
      padding: 8px 0;
      border-radius: 4px;
    }

    .cursemy-card__prices {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;
    }

    .cursemy-card__prices-discounted {
      font-weight: 500;
    }

    .cursemy-card__prices-full {
      text-decoration: line-through;
      opacity: 0.7;
      font-size: 10px;
    }

    .cursemy-card__content-ranking {
      font-size: 10px;
      display: flex;
    }

    .cursemy-card__content-ranking-stars {
      --stars: 0;

      display: block;
      position: relative;
      width: 80.81px;
      height: 22px;
      padding: 8px 0 0 0;
      margin-right: 8px;

      &::before {
        content: " ";
        background: url(/images/stars-empty.png);
        background-size: 80.81px 14px;
        width: 80.81px;
        height: 14px;
        opacity: 0.6;
        position: absolute;
        top: 8px;
        left: 0;
      }

      &::after {
        --stars-perc: var(--stars) * 100 / 5;

        content: " ";
        background: url(/images/stars-filled.png);
        background-size: 80.81px 14px;
        width: calc(var(--stars-perc) * 1%);
        height: 14px;
        opacity: 0.6;
        position: absolute;
        top: 8px;
        left: 0;
      }
    }

    .cursemy-card__desc {
      font-size: 12px;
      font-weight: 300;
      padding-top: 6px !important;
    }

    .cursemy-props {
      padding-top: 16px !important;
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-template-rows: repeat(8, 30px);
      place-items: flex-start;
      place-content: center;
    }

    .form-buy {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0;
      background: #333333aa;
      padding: 16px 32px !important;
      width: 100vw;
      box-sizing: border-box;
      border-top: 1px solid #c4c4c4;
      backdrop-filter: blur(2px);

      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;

      > div,
      > button {
        width: 100%;
      }
    }

    @media (min-width: 1024px) {
      .form-buy {
        align-items: stretch;
        justify-content: stretch;
        padding: 0 !important;
        position: relative;
        left: unset;
        right: unset;
        bottom: unset;
        border: 0;
        width: 100%;
      }

      .cursemy-card__content-box {
        flex-direction: column;
        height: calc(100% - 245px + 32px);
        margin-top: -64px;
      }

      .cursemy-card {
        display: block;
        grid-template-columns: unset;
        max-width: 352px;
        width: 352px;
        height: 100%;
        border: 1px solid #c4c4c4;
        padding-top: 0;

        &.--highlight::before {
          top: anchor(--cursemy-card top);
          right: 16px;
          transform: translateY(-50%);
        }
      }

      :host {
        max-width: 352px;
        min-width: 352px;
        width: 352px;
      }

      .cursemy-card__image-box > img {
        width: 100%;
        height: auto;
        mask-image: linear-gradient(black, transparent);
        border: 0;
      }
    }

    .form__field {
      display: flex;
      gap: 0;
      margin-bottom: 4px;
    }

    [class*="form-field__number-"] {
      height: 34px;
      width: 34px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 18px;
      background: #c4c4c4;
      color: #333;
      font-family: "SN Pro", sans-serif;
    }

    .form-field__number-sub {
      border-radius: 4px 0 0 4px;
    }

    .form-field__number-add {
      border-radius: 0 4px 4px 0;
    }

    .form-field__input {
      height: 32px;
      width: 100%;
      flex: 1;
      color: #c4c4c4;
      background: transparent;
      font-weight: 500;
      line-height: 30px;
      border: 1px solid #c4c4c4;
      padding: 0;
      text-align: center;
      font-family: "SN Pro", sans-serif;
    }

    .form__submit {
      min-height: 34px;
      font-size: 16px;
      font-weight: 400;
      border-radius: 4px;
      background: #c4c4c4;
      color: #333333;
      width: 100%;
      margin: 0;
      border: 0;
      font-family: "SN Pro", sans-serif;
      padding: 8px 16px;

      &:disabled {
        opacity: 0.8;
        cursor: not-allowed;

        &:hover {
          background: #c4c4c4;
        }
      }
    }

    .form__submit,
    [class*="form-field__number-"] {
      transition: all 200ms ease-in-out;
      cursor: pointer;

      &:hover {
        background: #fff;
      }
    }
  </style>

  <div class="cursemy-card --loading">
    <picture class="cursemy-card__image-box">
      <img
        id="image"
        src="/images/placeholder.webp"
        alt="Curso sem imagem"
        width="272"
        height="240"
        loading="lazy"
      />
    </picture>

    <div class="cursemy-card__content-box">
      <div>
        <h2 class="cursemy-card__content-title">
          <slot name="title"></slot>
        </h2>

        <p class="cursemy-card__content-author">
          <slot name="author"></slot>
        </p>

        <dl class="cursemy-props">
          <dt>Avaliação:</dt>
          <dd>
            <div
              class="cursemy-card__content-ranking-stars"
              style="--stars: 4.5"
              id="stars-ranking"
            ></div>
          </dd>

          <dt>Total de Avaliações:</dt>
          <dd><slot name="rankings"></slot></dd>

          <dt>Preço sem Desconto:</dt>
          <dd><slot name="price-full"></slot></dd>

          <dt>Preço com Desconto:</dt>
          <dd><slot name="price-discounted"></slot></dd>

          <dt>Data Início:</dt>
          <dd><slot name="start-at"></slot></dd>

          <dt>Duração</dt>
          <dd><slot name="duration"></slot></dd>

          <dt>Nível:</dt>
          <dd><slot name="level"></slot></dd>

          <dt>Vagas Disponíveis:</dt>
          <dd><slot name="vacancies"></slot></dd>
        </dl>

        <form
          class="form-buy"
          novalidate
          method="post"
          action="/purchase/{{COURSE_SLUG}}"
        >
          <div class="form__field">
            <button type="button" class="form-field__number-sub">-</button>
            <input
              type="text"
              class="form-field__input"
              readonly
              value="1"
              name="quantity"
            />
            <button type="button" class="form-field__number-add">+</button>
          </div>

          <input type="hidden" name="total" value="0" />
          <input type="hidden" name="slug" value="0" />

          <button class="form__submit" type="submit" disabled>
            Reservar <output class="form__output-vacancies">1</output> por
            <output class="form__output-total">R$ 00,00</output>
          </button>
        </form>
      </div>
    </div>
  </div>
</template>
