<style>
  .error {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;

    > span {
      display: block;
    }
  }

  .error__code {
    font-size: 128px;
    font-weight: 200;
    text-align: center;
  }

  .error__message {
    text-align: center;
    width: min(100%, 512px);
    font-weight: 200;
  }

  .error__go-home {
    padding: 16px 32px;
    border-radius: 4px;
    background: white;
    color: #333;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 32px;
    display: block;
    text-decoration: none;
    width: fit-content;
  }

  @media (min-width: 768px) {
    .error {
      flex-direction: row;
    }
  }
</style>

<h1 class="error">
  <span class="error__code">{{STATUS_CODE}}</span>
  <span class="error__message">{{STATUS_MESSAGE}}</span>
</h1>

<a href="/" class="error__go-home">Voltar para página inicial</a>
