<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{TITLE}}</title>
    <link rel="stylesheet" href="/styles/global.css" />

    {{STYLES}}

    <script src="/scripts/cursemy-card.element.js"></script>
    <script src="/scripts/cursemy-course.element.js"></script>
  </head>

  <body>
    <header>
      <a href="/" class="cursemy-logo"><h1>Cursemy</h1></a>

      {{AUTH_LINK}}
    </header>

    <main>{{CONTENT}}</main>

    <footer>
      <nav><a href="/">HOME</a>{{AUTH_LINK_TEXT}}</nav>

      <p>
        <span>Desenvolvido por</span>
        <a
          href="https://www.linkedin.com/in/gabrielttrevisan/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span>Gabriel Troian Trevisan</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="rgba(255,255,255,1)"
            width="16"
            height="16"
          >
            <path
              d="M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z"
            ></path>
          </svg>
        </a>
      </p>
    </footer>
  </body>
</html>
