<form method="post" action="/sign-in" class="sign-in">
  <div>
    <h2>ENTRAR</h2>

    <p>Para visualizar e comprar cursos é necessário estrar com sua conta.</p>
  </div>

  <div class="sign-in__input">
    <label for="email">E-mail</label>
    <input type="email" id="email" name="email" />
  </div>

  <div class="sign-in__input">
    <label for="password">Senha</label>
    <input type="password" id="password" name="password" />
  </div>

  <button type="submit" class="sign-in__submit">ENTRAR</button>
</form>
