<form method="post" action="/sign-up" class="sign-up">
  <div>
    <h2>CADASTRAR-SE</h2>
  </div>

  <div class="sign-up__input">
    <label for="name">Nome Completo</label>
    <input type="name" id="name" name="name" />
  </div>

  <div class="sign-up__input">
    <label for="email">E-mail</label>
    <input type="email" id="email" name="email" />
  </div>

  <div class="sign-up__input">
    <label for="password">Senha</label>
    <input type="password" id="password" name="password" />
  </div>

  <div class="sign-up__input">
    <label for="confirmPassword">Confirmar Senha</label>
    <input type="password" id="confirmPassword" name="confirmPassword" />
  </div>

  <button type="submit" class="sign-up__submit">CADASTRAR-SE</button>
</form>
